:root {
	box-sizing: border-box;
	font-size: 1em;
	--ff: "Archivo", sans-serif;
	--main-bgColor: #eee;
	--color: #888;
	--height: 5.5em;
	--heading-height: 6em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
	scroll-behavior: smooth;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  display: inline-block;
}
button {
  border: 0;
  cursor: pointer;
}
fieldset {
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
ul span {
  display: inline-block;
}


.main-logo img {
	width: 100px;
}
.marginRight {
	margin-right: auto;
}
.backBtn {
	font-size: 0.7rem;
	align-self: end;
	text-align: right;
	display: inline-block;
	color: #888;
}
.camp-illustration-testimonial{
	padding: 3em 1.5em;
	background-color: #eee;
	display: flex;
	align-items: center;
}
.testimonial-comment {
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: bold;
}
.testimonial-profile {
	display: flex;
	align-items: center;
	margin: 1.5em 0 0;
	font-size: .8rem;
	line-height: 1.5;
}
.testimonial-profile img + * {
	margin-left: 1em;
}
.testimonial-profile img {
	width: 3em;
}